*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.payment{
    background:url();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   
}

.formContainer{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-areas:'loginSection' ;
    grid-gap: 20px;
    height: 300px;

}


.loginSection{
    padding:1.5rem ;
    width: 450px;
}

.formContent{
    margin-bottom: 15px;
}

input[type='email'],input[type='number'],input[type='name'],input[type='surname']{
    padding: 12px;
    width: 85%;
}

.paymentBtn{
    padding: 10px 20px;
    text-transform: uppercase;

}

.loginBtn{
    background-color: black;
    color: white;
    border: none;
}