*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.homeBg {
    background: url(images/splash.jpg) no-repeat;
    -webkit-background-size: cover;
      background-size: cover;
      height: 100%;
      
  }

  

/* NAVBAR */

.navBar{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-bottom: 0.5px solid grey;
    width: 100%;
    line-height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-family:'Josefin Sans', sans-serif;

}

.navBar a{
    text-decoration: none;
    color: white;
}


.navLogo{
    float: left;
    height: 70px;
    padding: 0 10px;
}

.navBar ul{
    text-align: center;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px;
    display: inline-block;

}


.navBar ul li{
    display: inline-block;
}

.navBar ul li a{
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px; 
}

.navBar ul li a:hover{
    background-color: gray;

}

.navBtns{
    /* text-align: center; */
    display: inline-block;
    /* padding: 0 20px; */
}

.btns{
    margin-top: 10px;
    background-color: white;
    color: #191919;
    padding: 12px;
    float: left;
    border: 0;
    border-radius: 20px;
    margin-left: 10px;

}

.btns:hover{
    background: #848482;

}

.btns a {
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;

}

.socials{
    float: right;
    display: inline-block;
    padding: 0 10px;
    font-size: 22px;
}

/* CONTENT */

body{
    background-color: rgb(0,0, 0, 0);
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-left: 100px;
    margin-right: 100px; 
}

.content {
    margin-top: 55%;
    
}

h1{
    font-size: 70px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;

}

h2{
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    padding: 10px;

}

p{
    margin-top: 10px;

}

aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ABOUT  */
.aboutBg{
    background: url(images/about.png) no-repeat;
    -webkit-background-size: cover;
      background-size: cover;
      height: 100%;
  }

.about{
    padding-top: 15%;
    
}

.aboutTextContainer {
    float: left;
    color: rgb(255, 255, 255);
    padding-left: 10%;
    display: inline-block;
    
  }

.aboutTextBox {
    width: 600px;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 25px;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 0 7px 14px 0 rgb(255, 255, 255);
    margin: 0 20px;
    background-color: black;
    /* display: inline-block; */
  }

.aboutVideo{
    display: inline-block;
    float: right;
    padding-right: 10%;
    /* margin: 0 20px; */
}
  
  .ytvid{
    float: right;
    /* display: inline-block; */
    margin: 0 20px;
    width: 600px;
    height: 345px;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 0 7px 14px 0 rgb(255, 255, 255);
    /* display: inline-block; */
  }

  /* .aboutBandPhoto {
    width:33%;
    height:400px;
    background-image: url(images/bandphoto.jpg);
    background-size: cover;   
    background-repeat: no-repeat;
    background-position: center;
    margin: 5%;
    display: inline-block;
} */

/* BOOKING */

 .bookingBg{
    background: url(images/book.jpg) no-repeat;
    -webkit-background-size: cover;
      background-size: cover;
      height: 100%;
  } 

.booking{
    padding-top: 15%;
    
}

.booking {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: #eee; */
}

.bookingHeading{
    align-content: center;
    
    
}

form {
	padding: 24px;
    margin: 20px;
	border-radius: 10px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, .1);
	background: rgb(0, 0, 0);
    border: 2px solid white;
    
}
.form-group {
	margin-bottom: 16px;
}
.form-group:last-child {
	margin-bottom: 0;
}
.form-group input {
	display: none;
}
label {
    font-family: 'Josefin Sans', sans-serif;
	display: flex;
	align-items: center;
    padding-left: 20px;
	grid-gap: 16px;
	cursor: pointer;
}
label .checkbox {
	width: 20px;
	height: 20px;
	background: #ccc;
	border-radius: 4px;
	position: relative;
	transition: .2s ease;
	transition-delay: .2s;
}
label .checkbox::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background: #fff;
	border-radius: 2.5px;
	transition: .2s ease;
	transition-delay: .2s;
}
.form-group input:checked + label .checkbox::before {
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-radius: 50%;
	transition-delay: 0s;
}
.form-group input:checked + label .checkbox {
	background: var(--dark);
	transition-delay: 0s;
}
label .checkbox .check {
	display: block;
	width: 12px;
	height: 6px;
	position: absolute;
	top: 6px;
	left: 50%;
	transform: translateX(-50%) rotateZ(-45deg);
}

label .checkbox .check::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 0;
	background: #fff;
	transition: .2s ease;
	transition-delay: .2s;
}
label .checkbox .check::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background: #fff;
	transition: .2s ease;
	transition-delay: 0s;
}
.form-group input:checked + label .checkbox .check::before {
	height: 100%;
	transition-delay: .2s;
}
.form-group input:checked + label .checkbox .check::after {
	width: 100%;
	transition-delay: .4s;
}



/* CONTACT */
.contentBg{
    background: url(images/about.png) no-repeat;
    -webkit-background-size: cover;
      background-size: cover;
      height: 100%;
  }

.contact{
    padding-top: 15%;
    /* text-align: center; */
}

.contactHeadingMain{
    text-align: center;
}

.contactTextContainer {
    text-align: center;
    float: left;
    width: 25%;
    height: max-content;
    color: rgb(255, 255, 255);
    padding-left: 10%;
    display: inline-block;
    
  }

.contactTextBox {
    text-align: center;
    width: 600px;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 25px;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 0 7px 14px 0 rgb(255, 255, 255);
    margin: 0 20px;
    background-color: black;
    display: inline-block;
    text-align: center;
  }

img:hover{
    filter: grayscale();
    transition: 3s;
    cursor: pointer;

}

